#banner {
    background-color: black;
}

#banner_title {
    color:white;
    font-size:2em;
}

#nav_bar {
    background-color:lavender;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

#content {
    width: 960px;
    text-align: center
}